.app-container {
  min-height: 100vh;
  display: flex;
  transition: margin-left 0.3s ease;
}

.content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.sidebar-open .content {
  margin-left: 16.7%; /* This should match the sidebar width */
}


