@import './variables.css';

.sidebar {
  background-color: var(--light-beige);
  width: 16.7%;
  height: 100vh;
  position: fixed; /* Sidebar stays fixed on scroll */
  top: 0;
  left: 0;
  z-index: 2;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar-open {
  transform: translateX(0);
}

.side-logo {
  background-color: var(--light-beige);
  height: 6vh;
}

.side-opt {
  padding: 10px 0px 10px 30px;
  transition: 0.3s;
}

.side-opt a {
  color: var(--logo);
  text-decoration: none;
}

.side-opt:hover {
  background-color: lightgray;
  transition: 0.3s;
}

.selected-sidebar-link {
  background-color: lightgray;
}
.selected-sidebar-link a {
  color: var(--selected);
  font-weight: bolder;
}

.selected {
  color: var(--selected);
}

.logo {
  color: white;
  font-size: small;
  font-weight: bold;
}

/* Adjust main content so it doesn't get covered */
.main {
  margin-left: 0;
  width: 100%;
  transition: margin-left 0.3s ease;
  /* padding: 20px; Ensures content isn't too close to edges */
}

/* When sidebar is open, push the main content */
.app-container.sidebar-open .main {
  margin-left: 16.7%; /* Same width as sidebar */
  width: calc(100% - 16.7%);
}

/* Make sure body and main content can scroll */
body, .main {
  overflow-y: auto; /* Allows scrolling */
  height: 100vh; /* Prevents unexpected layout shifts */
}

/* Mobile View */
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .app-container.sidebar-open .main {
    margin-left: 0;
    width: 100%;
  }
}
