@import './variables.css';

.sidebar {
    background-color: var(--side-main);
    width: 16.7%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* .collapsed {
    background-color: lightgray;
    width: 6.7%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
} */

.side-logo {
    background-color: var(--logo);
    height: 6vh;
}

.side-opt {
    padding: 10px 0px 10px 30px;

}

.side-opt a {
    color: var(--logo);
    text-decoration: none;
}

.selected {
    color: var(--selected);
}

/* .side-opt :hover {
    background-color: #222b31;
} */

.logo {
    color: white;
    font-size: small;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}